{
	"bracketSameLine": true,
	"svelteAllowShorthand": true,
	"printWidth": 200,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
